<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor patch:before="processor[position()=1]" type="Sitecore.Support.Pipelines.PreprocessRequest.IgnoreList, Sitecore.Support.159393" />
      </preprocessRequest>
    </pipelines>
    <settings>
      <!-- ABSOLUTE IGNORE URLS
          Set AbsoluteIgnoreUrlPrefixes to a '|' separated list of url prefixes that should not be processed by Sitecore. 
          IMPORTANT: All Sitecore features will be turned off. Same prefixes have to be added to IgnoreUrlPrefixes setting as well
      -->
      <setting name="AbsoluteIgnoreUrlPrefixes" value="" />
    </settings>
  </sitecore>
</configuration>